# Copyright (c) 2021 Martin Blumenstingl <martin.blumenstingl@googlemail.com>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_MESON8_AO_EM4
	bool "Amlogic Meson8/8b/8m2 Always-On ARC EM4"
	depends on SOC_ARC_EMSDP
