# Copyright (c) 2020 Linumiz
#
# Author: Parthiban Nallathambi <parthiban@linumiz.com>
# SPDX-License-Identifier: Apache-2.0

config UART_AMLOGIC
	bool "Amlogic Meson UART driver"
	depends on ARC
	select SERIAL_HAS_DRIVER
	help
	  This option enables the Amlogic Meson UART driver, for UART_0.
